## 1Ô∏è‚É£ An√°lise Explorat√≥ria de Dados (EDA)

### üí° Conceito
**EDA (Exploratory Data Analysis)** √© o processo de explorar e resumir dados para extrair informa√ß√µes √∫teis. √â usado por cientistas de dados para analisar e investigar conjuntos de dados e resumir suas principais caracter√≠sticas.

In [1]:
import pandas as pd
import numpy as np

In [7]:
# Exemplo simples de EDA
notas = [85, 90, 78, 92, 88, 76, 94, 82, 89, 91]
notas_array = np.array(notas) #transforma lista de em array

print(f"Dados das notas dos alunos: {notas}") #printa todas as notas
print(f"M√©dia das notas: {notas_array.mean():.2f}") #m√©dia
print(f"Maior nota: {notas_array.max()}") #maior nota do conjunto de dados
print(f"Menor nota: {notas_array.min()}") #menor
print(f"Mediana das notas: {np.median(notas_array):.2f}") #mediana

Dados das notas dos alunos: [85, 90, 78, 92, 88, 76, 94, 82, 89, 91]
M√©dia das notas: 86.50
Maior nota: 94
Menor nota: 76
Mediana das notas: 88.50

### üèãÔ∏è Exerc√≠cio 1
Complete o c√≥digo abaixo para fazer uma EDA b√°sica das vendas mensais:

In [2]:
vendas_mes = [1200, 1450, 1100, 1600, 1350, 1250, 1400]
vendas_array = np.array(vendas_mes)

# TODO: Calcule a m√©dia das vendas usando numpy
media_vendas = None  # Substitua por: vendas_array.mean()

# TODO: Encontre o m√™s com maior venda usando numpy
maior_venda = None   # Substitua por: vendas_array.max()

# TODO: Calcule a mediana usando numpy
mediana_vendas = None  # Substitua por: np.median(vendas_array)

print(f"Vendas mensais: {vendas_mes}")
print(f"M√©dia de vendas: {vendas_array.mean()}")
print(f"Maior venda: {vendas_array.max()}")
print(f"Mediana de vendas: {np.median(vendas_array):.2f}")

Vendas mensais: [1200, 1450, 1100, 1600, 1350, 1250, 1400]
M√©dia de vendas: 1335.7142857142858
Maior venda: 1600
Mediana de vendas: 1350.00

---

## 2Ô∏è‚É£ Tipos de Dados

### üí° Conceito
Os dados v√™m de diversas fontes: sensores, eventos, textos, imagens e v√≠deos. Existem diferentes tipos de dados estruturados:

- **Categ√≥ricos**: Conjunto espec√≠fico de valores (cores, tipos)
- **Discretos**: Apenas valores inteiros (contagens)
- **Bin√°rios**: Apenas dois valores (0/1, True/False)
- **Cont√≠nuos**: Qualquer valor em um intervalo (altura, peso)
- **Ordinais**: Categ√≥ricos com ordem (avalia√ß√µes 1-5)

In [3]:
# Dados Categ√≥ricos
cores = ["azul", "vermelho", "verde", "azul", "amarelo"]
print(f"Categ√≥ricos (cores): {cores}")

# Dados Discretos (contagens)
num_filhos = [0, 2, 1, 3, 0, 1, 2]
print(f"Discretos (n√∫mero de filhos): {num_filhos}")

# Dados Bin√°rios
aprovado = [True, False, True, True, False]
print(f"Bin√°rios (aprovado/reprovado): {aprovado}")

# Dados Cont√≠nuos
alturas = [1.75, 1.68, 1.82, 1.70, 1.65]
print(f"Cont√≠nuos (alturas em metros): {alturas}")

# Dados Ordinais
avaliacoes = ["ruim", "bom", "excelente", "regular", "bom"]
print(f"Ordinais (avalia√ß√µes): {avaliacoes}")

Categ√≥ricos (cores): ['azul', 'vermelho', 'verde', 'azul', 'amarelo']
Discretos (n√∫mero de filhos): [0, 2, 1, 3, 0, 1, 2]
Bin√°rios (aprovado/reprovado): [True, False, True, True, False]
Cont√≠nuos (alturas em metros): [1.75, 1.68, 1.82, 1.7, 1.65]
Ordinais (avalia√ß√µes): ['ruim', 'bom', 'excelente', 'regular', 'bom']

### üèãÔ∏è Exerc√≠cio 2
Classifique os tipos de dados abaixo:

In [4]:
dados_temperatura = [23.5, 25.1, 22.8, 26.3, 24.7]
dados_sexo = ["M", "F", "M", "F", "M"]
dados_estrelas = [1, 2, 3, 4, 5, 3, 4]
dados_possui_carro = [True, False, True, False, True]

print(f"a) Temperaturas s√£o dados: {dados_temperatura} (cont√≠nuos)")
print(f"b) Sexo s√£o dados: {dados_sexo} (categ√≥ricos)")  
print(f"c) Avalia√ß√£o em estrelas s√£o dados: {dados_estrelas} (ordinais)")
print(f"d) Possui carro s√£o dados: {dados_possui_carro} (bin√°rios)")

a) Temperaturas s√£o dados: [23.5, 25.1, 22.8, 26.3, 24.7] (cont√≠nuos)
b) Sexo s√£o dados: ['M', 'F', 'M', 'F', 'M'] (categ√≥ricos)
c) Avalia√ß√£o em estrelas s√£o dados: [1, 2, 3, 4, 5, 3, 4] (ordinais)
d) Possui carro s√£o dados: [True, False, True, False, True] (bin√°rios)

---

## 3Ô∏è‚É£ Dados Retangulares

### üí° Conceito
**Dados retangulares** s√£o organizados em tabelas (linhas e colunas), como planilhas Excel. No Python pandas, usamos **DataFrames**. 

- Cada linha = uma observa√ß√£o
- Cada coluna = uma vari√°vel

In [5]:
dados_estudantes = {
    'nome': ['Ana', 'Jo√£o', 'Maria', 'Pedro', 'Carla'],
    'idade': [20, 22, 21, 23, 20],
    'nota': [8.5, 7.2, 9.1, 6.8, 8.9],
    'aprovado': [True, True, True, False, True]
}

tabela_estudantes = pd.DataFrame(dados_estudantes) #TRANFORMA O DATAFRAME EM TABELAS
print("üìã Exemplo de dados retangulares:")
tabela_estudantes

üìã Exemplo de dados retangulares:

    nome  idade  nota  aprovado
0    Ana     20   8.5      True
1   Jo√£o     22   7.2      True
2  Maria     21   9.1      True
3  Pedro     23   6.8     False
4  Carla     20   8.9      True

In [9]:
print(f"\nForma dos dados: {tabela_estudantes.shape} (linhas, colunas)")
print(f"Colunas: {list(tabela_estudantes.columns)}")

Forma dos dados: (5, 4) (linhas, colunas)
Colunas: ['nome', 'idade', 'nota', 'aprovado']

### üèãÔ∏è Exerc√≠cio 3
Crie um DataFrame com dados de produtos:

In [25]:
# TODO: Complete o dicion√°rio abaixo
# dados_produtos = {
#     'produto': ['Notebook', 'Mouse', 'Teclado', 'Monitor'],
#     'preco': [2500, 50, 150, 800],
#     'categoria': ['Eletr√¥nico', 'acess√≥rios', 'perif√©ricos','Outros'],  # TODO: Adicione categorias como ['eletr√¥nicos', 'acess√≥rios', ...]
#     'em_estoque': ['True', 'False', 'True', 'False'],  # TODO: Adicione valores True/False
# }

dados_produtos = {
    'produto': ['Notebook', 'mouse', 'Teclado', 'Monitor'],
    'preco': [3000, 123, 147, 1240],
    'categoria': ['computadores', 'acess√≥rios', 'perif√©ricos', 'Ooutros'],
    'em_estoque': ['true', 'False', 'True','true'],
}

df_produtos = pd.DataFrame(dados_produtos)
df_produtos
# Descomente a linha abaixo ap√≥s completar o dicion√°rio
# df_produtos = pd.DataFrame(dados_produtos)
# df_produtos

    produto  preco     categoria em_estoque
0  Notebook   3000  computadores       true
1     mouse    123    acess√≥rios      False
2   Teclado    147   perif√©ricos       True
3   Monitor   1240       Ooutros       true

---

## 4Ô∏è‚É£ Outros Tipos de Dados

### üí° Conceito
Nem todo dado cabe em uma tabela! Existem outros tipos importantes:

- **S√©ries temporais**: dados medidos ao longo do tempo
- **Dados espaciais**: coordenadas geogr√°ficas, mapas
- **Redes (grafos)**: conex√µes e relacionamentos

In [ ]:
# Exemplo de s√©rie temporal simples
datas = ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04']
vendas_diarias = [100, 120, 90, 150]

print("üìà S√©rie Temporal (vendas por dia):")
for data, venda in zip(datas, vendas_diarias):
    print(f"  {data}: {venda} unidades")

In [ ]:
# Exemplo de dados espaciais
print("üó∫Ô∏è Dados Espaciais (coordenadas de lojas):")
lojas_coordenadas = [
    ('Loja Centro', -1.4558, -48.4902),
    ('Loja Norte', -1.4200, -48.4500),
    ('Loja Sul', -1.4800, -48.5000)
]

for nome, lat, lon in lojas_coordenadas:
    print(f"  {nome}: ({lat}, {lon})")

### üèãÔ∏è Exerc√≠cio 4
Identifique o tipo de dado:

In [ ]:
print("a) Temperaturas medidas de hora em hora: _________")
print("b) Localiza√ß√£o GPS de delivery: _________")
print("c) Rede de amigos no Facebook: _________")
print("d) Tabela de funcion√°rios com sal√°rios: _________")

---

## 5Ô∏è‚É£ Estimativas de Localiza√ß√£o

### üí° Conceito
Medidas que nos ajudam a entender onde os dados est√£o "centrados":

- **M√©dia**: soma de todos os valores √∑ n√∫mero de valores
- **Mediana**: valor do meio quando dados est√£o ordenados
- **M√©dia aparada**: m√©dia excluindo valores extremos
- **Outlier**: valor muito diferente da maioria

In [29]:
from scipy.stats import trim_mean # M√©dia Aparada

# Dados de exemplo: sal√°rios de funcion√°rios
salarios = [3000, 3200, 2800, 3500, 2900, 3100, 15000, 3300]  # Note o outlier!
salarios_series = pd.Series(salarios)

print(f"üí∞ Sal√°rios: {salarios}")

# Calculando diferentes medidas usando pandas
print(f"M√©dia: R$ {salarios_series.mean():.2f}")
print(f"Mediana: R$ {salarios_series.median():.2f}")

# C√°lculo da m√©dia aparada removendo 20% dos valores (10% menores e 10% maiores)
media_aparada = trim_mean(salarios_series, proportiontocut=0.2)
print(f"M√©dia Aparada: R$ {media_aparada:.2f}")

print(f"Sal√°rios ordenados: {sorted(salarios)}")

üí∞ Sal√°rios: [3000, 3200, 2800, 3500, 2900, 3100, 15000, 3300]
M√©dia: R$ 4600.00
Mediana: R$ 3150.00
M√©dia Aparada: R$ 3166.67
Sal√°rios ordenados: [2800, 2900, 3000, 3100, 3200, 3300, 3500, 15000]

In [30]:
# Identificando outlier usando pandas
print(f"üö® Outlier detectado: R$ {salarios_series.max()} (muito diferente dos outros)")
print("A mediana √© mais representativa que a m√©dia quando h√° outliers!")

üö® Outlier detectado: R$ 15000 (muito diferente dos outros)
A mediana √© mais representativa que a m√©dia quando h√° outliers!

### üèãÔ∏è Exerc√≠cio 5
Calcule as medidas para as idades:

In [ ]:
idades = [25, 27, 23, 26, 24, 28, 45, 25, 26]  # Uma pessoa bem mais velha
idades_series = pd.Series(idades)

# TODO: Calcule a m√©dia usando pandas
media_idade = None  # idades_series.mean()

# TODO: Encontre a mediana usando pandas
mediana_idade = None  # idades_series.median()

# TODO: Identifique o outlier usando pandas
outlier_idade = None  # idades_series.max() ou idades_series.min()

# TODO: Calcule a m√©dia aparada
media_aparada = None  # trim_mean(idades_series, proportiontocut=0.2)

print(f"Idades: {idades}")
print(f"M√©dia das idades: {media_idade}")
print(f"Mediana das idades: {mediana_idade}")
print(f"M√©dia Aparada: {media_aparada}")
print(f"Poss√≠vel outlier: {outlier_idade}")

## 6Ô∏è‚É£ Exerc√≠cio Final - Pr√°tica Integrada

### üéØ Desafio: An√°lise completa de dados de uma loja

Vamos aplicar todos os conceitos aprendidos!

In [ ]:
# Dados da loja (misturando todos os conceitos)
dados_loja = {
    'produto': ['Smartphone', 'Fone', 'Carregador', 'Capa', 'Tablet'],
    'categoria': ['eletr√¥nicos', 'acess√≥rios', 'acess√≥rios', 'acess√≥rios', 'eletr√¥nicos'],
    'preco': [800, 120, 45, 25, 600],
    'vendas_mes': [50, 200, 150, 300, 30],
    'avaliacao': [4, 5, 3, 4, 5],  # 1 a 5 estrelas
    'disponivel': [True, True, False, True, True]
}

print("üè™ DADOS DA LOJA:")
df_loja = pd.DataFrame(dados_loja)
df_loja

In [ ]:
print(f"\nüìä Resumo estat√≠stico dos dados:")
df_loja.describe()

### üìä Exerc√≠cio final:

In [ ]:
# 1. Qual a m√©dia de pre√ßos dos produtos?
media_precos = None

# 2. Qual produto tem maior n√∫mero de vendas?
idx_mais_vendido = None 
produto_mais_vendido = None

# 3. Quantos produtos est√£o dispon√≠veis?
produtos_disponiveis = None

# 4. Qual a avalia√ß√£o mediana dos produtos?
avaliacao_mediana = None

# 5. Calcule a m√©dia aparada dos pre√ßos
media_aparada_precos = None


print("Respostas:")
print(f"1. M√©dia de pre√ßos: R$ {media_precos}")
print(f"2. Produto mais vendido: {produto_mais_vendido}")
print(f"3. Produtos dispon√≠veis: {produtos_disponiveis}")
print(f"4. Avalia√ß√£o mediana: {avaliacao_mediana}")
print(f"5. M√©dia Aparada: R$ {media_aparada_precos}")

### üí° Recapitulando o que aprendemos:
- ‚úÖ **EDA**: Como explorar dados b√°sicos
- ‚úÖ **Tipos de dados**: Categ√≥ricos, discretos, cont√≠nuos, bin√°rios, ordinais
- ‚úÖ **Dados retangulares**: DataFrames do pandas
- ‚úÖ **Outros tipos**: S√©ries temporais, dados espaciais, redes
- ‚úÖ **Estimativas**: M√©dia, mediana, outliers